{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CalendarEvents list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Eventfrom</th>
                <th>Calendarid</th>
                <th>Eventto</th>
                <th>Eventdescription</th>
                <th>Eventtitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('calendarevents_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.eventFrom }}</td>
                <td>{{ entity.calendarId }}</td>
                <td>{{ entity.eventTo }}</td>
                <td>{{ entity.eventDescription }}</td>
                <td>{{ entity.eventTitle }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('calendarevents_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('calendarevents_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('calendarevents_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
