{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CalendarEventasdadadas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Eventfrom</th>
                <td>{{ entity.eventFrom }}</td>
            </tr>
            <tr>
                <th>Calendarid</th>
                <td>{{ entity.calendarId }}</td>
            </tr>
            <tr>
                <th>Eventto</th>
                <td>{{ entity.eventTo }}</td>
            </tr>
            <tr>
                <th>Eventdescription</th>
                <td>{{ entity.eventDescription }}</td>
            </tr>
            <tr>
                <th>Eventtitle</th>
                <td>{{ entity.eventTitle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('calendarevents') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('calendarevents_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
