{% extends '::base.html.twig' %}


{% block body -%}
    <div id="openModal" class="modalDialog">
        <div class="content">
        </div>
    </div>
    <h1>Calendar list</h1>

    {% for i in 1..numberOfDays %}
        {% if i < 10 %}
                {% set day = '0'~i %}
            {% else %}
                {% set day = i %}
        {% endif %}

        {% set date = currentYear~'-'~ currentMonth ~ '-' ~day %}
        <div class="calendar-entry" data-calendar-date="{{ date }}">
            {{ i }}
            {% for entity in entities %}
                    {% if entity.calendarDate|date('Y-m-d')  == date %}
                            <span class="has-entry" data-calendar-id="{{entity.calendarId }}"></span>
                    {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
<script>

    $('.calendar-entry').click(function(){
        var child =$(this).children();
        if(!child.length){
            var calendarDate = $(this).data('calendar-date');
            ajaxGet('events/new/'+calendarDate);
        }
    });

    $('.has-entry').parent().css('background','#C75448');

    $('.has-entry').parent().click(function(){
            showCalendar(this);
    });

    $('.modalDialog').click(function(){
        $('.modalDialog').css({'opacity' : '0','pointer-events':'none' });
    });
    $('.timepicker').timepicker();

    function createCalendarEntry(date)
    {
        $.ajax({
           type : 'POST',
           url  :  '/new',
           calendarDate  :  date,

            success:function(response){
                showCalendar(response.calendarId);
            }
        });
    }

    function showCalendar(calendar)
    {
        var calendarId = $(calendar).children('.has-entry').data('calendar-id');
        ajaxGet(calendarId);
    }

    function ajaxGet(url,type)
    {
        $.ajax({
            type : type ? type : 'GET',
            url  : url,

            success :function(response){
                var closeButton = '<span class="x"><a href="{{ path('calendar') }}" title="Close" class="close">X</a></span>';
                $('#openModal .content').html(closeButton + response);
//                $('.modalDialog').css({'opacity' : '1','pointer-events':'auto' });
                $('.modalDialog').addClass('on');
            }
        });
    }
</script>




     
    <style>
        @import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');
        @import url('http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css');

        .on{
            opacity : 1 !important;
            pointer-events:auto !important;
        }

        .calendar-entry{
            width: 100px;
            height: 100px;
            background: #2A96C7;
            border:1px solid #000;
            float:left;
            color:#ffffff;
            cursor: pointer;
        }
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }
        /*.modalDialog:target {*/
            /*opacity:1;*/
            /*pointer-events: auto;*/
        /*}*/
        .modalDialog > div {
            width: 580px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }
        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }
        .close:hover {
            background: #00d9ff;
        }

    </style>
    {% endblock %}
