{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CalendarEvents creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('calendarevents') }}">
            Back to the list
        </a>
    </li>
</ul>
    <script>
        $('.timepicker').timepicker();

        $(document).ready(function(){
            $('#cososys_calendarbundle_calendarevents').append('<input type="hidden" name="calendar_date" value="{{ calendarDate }}"/> ');
        });
    </script>
{% endblock %}
