{#{% extends '::base.html.twig' %}#}

{% block body -%}

    <h1>Date {{ entity.calendarDate|date('Y-m-d') }}</h1>
    <input type="hidden" id="calendar_date" value="{{ entity.calendarDate|date('Y-m-d') }}">
    <table class="record_properties-calendar-events">
        {% for entry in entries %}
            <tr>
                <td><span class="interval-hours">from {{ entry.eventFrom }} to {{ entry.eventTo }}</span></td>
                <td class="interval-title"> &nbsp;{{ entry.eventTitle }}</td>
                <td><a href="#" onclick="editCalendarEvent({{  entry.id  }})" >Edit</a> </td>
                <td><a href="#" onclick="deleteCalendarEvent({{  entry.id  }})" >Delete</a> </td>
            </tr>
        {% endfor %}
    </table>

    <ul class="record_actions-calendar-event-show">
    <li>
        <button onclick="addNewCalendarEvent();" style="float:right;">Add new Event</button>
    </li>

    <li>{{ form(delete_form) }}</li>
</ul>
    <script>
        function editCalendarEvent(calendarEventId)
        {
            ajaxGet('events/'+calendarEventId+'/edit');
        }
        function addNewCalendarEvent()
        {
            var calendarDate = $('#calendar_date').val();
            ajaxGet('events/new/'+calendarDate);
        }

        function deleteCalendarEvent(calendarEventId)
        {
           var confirm =  window.confirm("Are you sure you want to delete this entry?");
           if(confirm){
               ajaxGet('events/'+calendarEventId+'','DELETE')
           }

        }
    </script>

    <style>
        ul li {
            list-style: none;
        }
        .record_actions-calendar-event-show li {
            margin:20px;
        }
        .interval-hours{
            font-size: 15px;
            font-weight: bold;
        }
        .interval-title{
            font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
            margin-left: 10px;
            text-align: center;
        }
        .record_properties-calendar-events td{
            padding: 4px 0 7px 30px;
        }
    </style>
{% endblock %}
